@{
    Layout = "../shared/_LoginSignUpLayout.cshtml";
}
<div style="float: right; padding: 45px 50px 0px 0px;">
     <form class="bg-light bg-opacity-50 border border-light rounded-5 shadow-5-strong p-5"  method="post",action="/Admin/Login">
         <partial name="_PVLogin" />
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary submit px-3"  asp-area="" asp-controller="Admin" asp-action="Login" style="font-family:serif;"
                name='login' value="login">Login</button>
            <p>@ViewBag.Data</p>
        </div>
    </form>
</div>
   