<h2 style="font-family:'Lucida Console'"><center>Login</center></h2>
<div class="form-group">
    <label class="form-label" >Enter Email</label>
    <input type="email" class="form-control" name="Email" placeholder="Email" 
             data-val-email="The Email Address field is not a valid email address."required>
</div>
<div class="form-group">
    <label class="form-label" >Enter Password</label>
    <input id="pass" type="password" class="form-control" name="Password" placeholder="Password" required>
    <span style="color: rgb(0, 0, 0);"></span>
    <span><input type="checkbox" onclick="showPassword()"> Show Password</span>
</div>
